@model IEnumerable<Web.Application.ViewModels.IngredientViewModel>

@{
    ViewData["Title"] = "Ингридиенты";
}

<h1>Информация о составе продукта</h1>

<p>
    <a asp-action="Create">Добавить в состав новый игридиент</a>
    @using (Html.BeginForm("Index", "Ingredients")) {
    
        @Html.DropDownList("product", ViewBag.Product as SelectList, new {
            onchange = "submit();"
        });
    }
    
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>    
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
